body {
    font-size: 13px;
}

.layout {
    /*border: 1px solid #d7dde4;*/
    background: #f5f7f9;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.layout-logo {
    width: 100px;
    height: 30px;
    background: #5b6270;
    border-radius: 3px;
    float: left;
    position: relative;
    top: 15px;
    left: 20px;

    color: white;
    line-height: 30px;
    text-align: center;

    cursor: default;
}

.layout-nav {
    width: 450px;
    margin: 0 20px 0 auto;
}

.layout-footer-center {
    text-align: center;
}

.dbreq_table {
    border-collapse: collapse;
    width: 100%;
}

.dbreq_table th {
    border: 1px solid lightgray;
    background-color: silver;
    padding: 5px;
}

.dbreq_table td {
    border: 1px solid lightgray;
    background-color: white;
    text-align: center;
    padding: 5px;
}
