<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Approval - DBREQ</title>

    <script src="static/sdk/js.cookie.min.js"></script>
    <script src="static/sdk/axios.min.js"></script>
    <script src="static/sdk/vue.min.js"></script>
    <link rel="stylesheet" href="static/sdk/iview.css">
    <script src="static/sdk/iview.min.js"></script>

    <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <link rel="stylesheet" href="static/css/framework.css">
    <script src="static/js/dbreq-header.js"></script>
    <script src="static/js/dbreq.js"></script>
</head>
<body>
<div id="app">
    <div class="layout">
        <Layout>
            <dbreq-header></dbreq-header>
            <Content :style="{margin: '88px 20px 0', background: '#fff', minHeight: '500px',padding:'5px'}">
                <h1>Approval</h1>
                <div style="margin: 10px auto">
                    <!--{{issues}}-->
                    <table class="dbreq_table">
                        <tr>
                            <th>Issue ID</th>
                            <th>Title</th>
                            <th>Database</th>
                            <th>Type</th>
                            <th>Author</th>
                            <th>Update Time</th>
                        </tr>
                        <tr v-for="issue in issues" style="cursor: pointer" v-on:click="openIssue(issue.issue_id)">
                            <td>{{issue.issue_id}}</td>
                            <td>{{issue.title}}</td>
                            <td>{{issue.database.host_nick}}</td>
                            <td>{{issue.type_desc}}</td>
                            <td>{{issue.author_realname}} ({{issue.author_username}})</td>
                            <td>{{issue.update_time}}</td>
                        </tr>
                    </table>
                </div>
                <div style="margin: 10px auto;text-align: right">
                    <Page :total="issue_count" :page-size="page.page_size"
                          :current="page.page_number"
                          show-sizer show-total show-elevator @on-change="loadPendingIssues"></Page>
                </div>
            </Content>
            <Footer class="layout-footer-center">2018 &copy; Sinri Edogawa</Footer>
        </Layout>
    </div>
</div>
<script>
    let mainApp = new Vue({
        el: '#app',
        data: {
            issue_count: 0,
            page: {
                page_number: 1,
                page_size: 10
            },
            issues: [],
        },
        methods: {
            loadPendingIssues: function () {
                let data = JSON.parse(JSON.stringify(this.page));
                dbreq.api.call('Request/apiRequestListForApprove', data,
                    (data) => {
                        this.issues = data.list;
                        this.issue_count = data.total;
                    },
                    (error, status_code) => {
                        this.issues = [];
                        this.issue_count = 0;
                    }
                );
            },
            openIssue: function (issue_id) {
                window.location.href = "issue.html?issue_id=" + issue_id;
            }
        },
        mounted: function () {
            this.loadPendingIssues();
        }
    })
</script>
</body>
</html>