<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Databases - DBREQ</title>

    <script src="static/sdk/js.cookie.min.js"></script>
    <script src="static/sdk/axios.min.js"></script>
    <script src="static/sdk/vue.min.js"></script>
    <link rel="stylesheet" href="static/sdk/iview.css">
    <script src="static/sdk/iview.min.js"></script>

    <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <link rel="stylesheet" href="static/css/framework.css">
    <script src="static/js/dbreq-header.js"></script>
    <script src="static/js/dbreq.js"></script>
</head>
<body>
<div id="app">
    <div class="layout">
        <Layout>
            <dbreq-header></dbreq-header>
            <Content :style="{margin: '88px 20px 0', background: '#fff', minHeight: '500px',padding:'5px'}">
                <h1>Manage Databases</h1>
                <Row style="margin: 10px auto;">
                    <i-col span="10">
                        <p>Here list the existed databases.</p>
                    </i-col>
                    <i-col span="4">&nbsp;</i-col>
                    <i-col span="10" style="text-align: right">
                        <i-button type="primary" shape="circle" icon="plus"
                                  @click="onCreateDatabaseButton"></i-button>
                    </i-col>
                </Row>
                <div>
                    <table class="dbreq_table">
                        <tr>
                            <th>Database ID</th>
                            <th>Display Name</th>
                            <th>Connection</th>
                            <th>Username</th>
                            <th>Readonly</th>
                            <th>Available</th>
                            <th>Action</th>
                        </tr>
                        <tr v-for="database in databases">
                            <td>{{database.id}}</td>
                            <td>{{database.nick}}</td>
                            <td>{{database.addr}}:{{database.port}}</td>
                            <td>{{database.user}}</td>
                            <td>{{database.is_readonly}}</td>
                            <td>{{database.is_available}}</td>
                            <td>
                                <i-button type="primary" @click="onEditDatabaseButton(database)">Edit</i-button>
                            </td>
                        </tr>
                    </table>
                </div>
            </Content>
            <Footer class="layout-footer-center">2018 &copy; Sinri Edogawa</Footer>
        </Layout>
    </div>
    <Modal :title="edit_modal.title"
           v-model="edit_modal.visible"
           :loading="edit_modal.loading"
           :mask-closable="false"
           @on-ok="on_edit_modal_ok">
        <i-form>
            <form-item label="Database ID" :label-width="120" v-if="draft.db_id!=0">
                {{draft.db_id}}
            </form-item>
            <form-item label="Display Name" :label-width="120">
                <i-input type="text" v-model="draft.db_nick"></i-input>
            </form-item>
            <form-item label="URL" :label-width="120">
                <i-input type="text" v-model="draft.address"></i-input>
            </form-item>
            <form-item label="Port" :label-width="120">
                <i-input type="text" v-model="draft.port"></i-input>
            </form-item>
            <form-item label="Username" :label-width="120">
                <i-input type="text" v-model="draft.username"></i-input>
            </form-item>
            <form-item label="Password" :label-width="120">
                <i-input type="text" v-model="draft.password" placeholder="Leave it empty if not change"></i-input>
            </form-item>
            <form-item label="Is Readonly" :label-width="120">
                <i-switch v-model="draft.is_readonly"></i-switch>
            </form-item>
            <form-item label="Is Available" :label-width="120">
                <i-switch v-model="draft.is_available"></i-switch>
            </form-item>
        </i-form>
    </Modal>
</div>
<script>
    let mainApp = new Vue({
        el: '#app',
        data: {
            databases: '...',
            edit_modal: {
                title: '...',
                visible: false,
                loading: true,
            },
            draft: {
                db_id: 0,
                address: '',
                port: '',
                username: '',
                password: '',
                db_nick: '',
                is_readonly: false,//R RW
                is_available: true //Y N
            }
        },
        methods: {
            loadDatabases: function () {
                dbreq.api.call("Database/apiDatabaseList/management", {},
                    (data) => {
                        this.databases = data.list;
                    },
                    (error, status_code) => {
                        this.databases = [];
                    }
                );
            },
            onCreateDatabaseButton: function () {
                this.draft = {
                    db_id: 0,
                    address: '',
                    port: '',
                    username: '',
                    password: '',
                    db_nick: '',
                    is_readonly: false, //R RW
                    is_available: true  //Y N
                };
                this.edit_modal = {
                    title: 'Create New Database',
                    visible: true,
                    loading: true,
                };
            },
            onEditDatabaseButton: function (database) {
                this.draft = {
                    db_id: database.id,
                    address: database.addr,
                    port: database.port,
                    username: database.user,
                    password: '',
                    db_nick: database.nick,
                    is_readonly: (database.is_readonly === 'R'),
                    is_available: (database.is_available === 'Y')
                };
                this.edit_modal = {
                    title: 'Edit Database ' + database.nick,
                    visible: true,
                    loading: true,
                };
            },
            on_edit_modal_ok: function () {
                let data = JSON.parse(JSON.stringify(this.draft));
                data.is_readonly = this.draft.is_readonly ? 'R' : 'RW';
                data.is_available = this.draft.is_available ? 'Y' : 'N';
                dbreq.api.call('Database/apiUpdateDatabase', data,
                    (data) => {
                        this.edit_modal = {
                            title: '...',
                            visible: false,
                            loading: true
                        };
                        this.loadDatabases();
                    },
                    (error, status_code) => {
                        this.$Notice.error({
                            title: 'API Error',
                            desc: "Operation failed duo to error: " + error,
                        });
                        this.edit_modal.loading = false;
                        this.$nextTick((e) => {
                            this.edit_modal.loading = true;
                        })
                    }
                );
            }
        },
        mounted: function () {
            this.loadDatabases();
        }
    })
</script>
</body>
</html>