<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Draft - DBREQ</title>

    <script src="static/sdk/js.cookie.min.js"></script>
    <script src="static/sdk/axios.min.js"></script>
    <script src="static/sdk/vue.min.js"></script>
    <link rel="stylesheet" href="static/sdk/iview.css">
    <script src="static/sdk/iview.min.js"></script>

    <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <link rel="stylesheet" href="static/css/framework.css">
    <script src="static/js/dbreq-header.js"></script>
    <script src="static/js/dbreq.js"></script>
</head>
<body>
<div id="app">
    <div class="layout">
        <Layout>
            <dbreq-header></dbreq-header>
            <Content :style="{margin: '88px 20px 0', background: '#fff', minHeight: '500px',padding:'5px'}">
                <h1>Draft</h1>
                <div style="margin: 10px auto">
                    <i-form label-width="100">
                        <form-item label="Title">
                            <i-input type="text" v-model="draft.title" style="width: 400px"
                                     placeholder="Name it."></i-input>
                        </form-item>
                        <form-item label="Database">
                            <i-select v-model="draft.host_id" style="width: 200px">
                                <i-option v-for="database in databases" :value="database.id">{{database.nick}}
                                </i-option>
                            </i-select>
                        </form-item>
                        <form-item label="Type">
                            <i-select v-model="draft.type" style="width: 200px">
                                <i-option v-for="type in types" :value="type.value">{{type.title}}</i-option>
                            </i-select>
                        </form-item>
                        <form-item label="Description">
                            <i-input type="textarea" v-model="draft.description" rows="3" style="width: 80%"
                                     placeholder="Why you make this draft?"></i-input>
                        </form-item>
                        <form-item label="Query">
                            <i-input type="textarea" v-model="draft.query" rows="5" style="width: 80%"
                                     placeholder="Write SQL here."></i-input>
                        </form-item>
                        <form-item>
                            <i-button type="primary" @click="submitDraft">Submit</i-button>
                        </form-item>
                        <form-item v-if="message!=''">
                            <Alert type="error" style="color: red">{{message}}</Alert>
                        </form-item>
                    </i-form>
                </div>
            </Content>
            <Footer class="layout-footer-center">2018 &copy; Sinri Edogawa</Footer>
        </Layout>
    </div>
</div>
<script>
    let mainApp = new Vue({
        el: '#app',
        data: {
            databases: [],
            //users: [],
            types: [
                {title: 'MODIFICATION', value: 0},//更新请求: 0
                {title: 'READ', value: 1},//导出请求: 1
                {title: 'STRUCTURE', value: 2}//结构请求: 2
            ],
            draft: {
                title: '',
                host_id: '',
                type: '',
                description: '',
                query: ''
            },
            message: ''
        },
        methods: {
            loadInfo: function () {
                dbreq.api.call('Database/apiDatabaseList/request', {},
                    (data) => {
                        this.databases = data.list;
                    },
                    (error, status_code) => {
                        this.databases = [];
                    }
                );
                // dbreq.api.call('Security/apiUserList', {},
                //     (data) => {
                //         this.users = data.list;
                //     },
                //     (error, status_code) => {
                //         this.users = [];
                //     }
                // );
            },
            submitDraft: function () {
                this.message = '';
                let data = JSON.parse(JSON.stringify(this.draft));
                dbreq.api.call('Request/apiCreateRequest', data,
                    (data) => {
                        let issue_id = data.issue_id;
                        window.location.href = "issues.html";
                    },
                    (error, status_code) => {
                        this.message = error;
                    }
                );
            }
        },
        mounted: function () {
            this.loadInfo();
        }
    })
</script>
</body>
</html>