<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home - DBREQ</title>

    <script src="static/sdk/js.cookie.min.js"></script>
    <script src="static/sdk/axios.min.js"></script>
    <script src="static/sdk/vue.min.js"></script>
    <link rel="stylesheet" href="static/sdk/iview.css">
    <script src="static/sdk/iview.min.js"></script>

    <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <link rel="stylesheet" href="static/css/framework.css">
    <script src="static/js/dbreq-header.js"></script>
    <script src="static/js/dbreq.js"></script>
</head>
<body>
<div id="app">
    <div class="layout">
        <Layout>
            <dbreq-header></dbreq-header>
            <Content :style="{margin: '88px 20px 0', background: '#fff', minHeight: '500px',padding:'5px'}">
                <h1>{{title}}</h1>
                <p v-for="news_line in news">
                    {{news_line}}
                </p>
            </Content>
            <Footer class="layout-footer-center">2018 &copy; Sinri Edogawa</Footer>
        </Layout>
    </div>
</div>
<script>
    let mainApp = new Vue({
        el: '#app',
        data: {
            title: 'Welcome to DBReq!',
            news: [],
        },
        methods: {
            loadHomeInfo: function () {
                dbreq.api.call('SiteInfo/apiHomePageInfo', {},
                    (data) => {
                        this.title = data.title;
                        this.news = data.news;
                    },
                    (error, status_code) => {
                        this.news = [error];
                    }
                );
            }
        },
        mounted: function () {
            this.loadHomeInfo();
        }
    })
</script>
</body>
</html>