<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Issues - DBREQ</title>

    <script src="static/sdk/js.cookie.min.js"></script>
    <script src="static/sdk/axios.min.js"></script>
    <script src="static/sdk/vue.min.js"></script>
    <link rel="stylesheet" href="static/sdk/iview.css">
    <script src="static/sdk/iview.min.js"></script>

    <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <link rel="stylesheet" href="static/css/framework.css">
    <script src="static/js/dbreq-header.js"></script>
    <script src="static/js/dbreq.js"></script>
    <style>
        .conditionLabel {
            display: inline-block;
            width: 100px;
            margin-right: 5px;
            text-align: right;
        }

        td.status_0 {
            color: orange;
        }

        td.status_1 {
            color: #454c5b;
        }

        td.status_2 {
            color: lightgreen;
        }

        td.status_3 {
            color: green;
        }

        td.status_4 {
            color: red;
        }

        td.status_5 {
            color: gray;
        }

        td.status_6 {
            color: blue;
        }
    </style>
</head>
<body>
<div id="app">
    <div class="layout">
        <Layout>
            <dbreq-header></dbreq-header>
            <Content :style="{margin: '88px 20px 0', background: '#fff', minHeight: '500px',padding:'5px'}">
                <h1>Issues</h1>
                <Row>
                    <i-col span="24">
                        Search issues with the following conditions.
                    </i-col>
                </Row>
                <div style="margin: 10px auto">
                    <!--{{databases}}-->
                    <!--{{users}}-->
                    <!--{{searchConditions}}-->
                    <Row>
                        <i-col span="24" style="margin: 10px auto">
                            <div class="conditionLabel">Title:</div>
                            <i-input type="text" v-model="searchConditions.title" style="width: 200px"></i-input>
                            <div class="conditionLabel">Author:</div>
                            <i-select v-model="searchConditions.author_id" style="width: 200px">
                                <i-option value="">Anyone</i-option>
                                <i-option v-for="user in users" :value="user.user_id">{{user.real_name}} |
                                    {{user.user_name}}
                                </i-option>
                            </i-select>
                            <div class="conditionLabel">Database:</div>
                            <i-select v-model="searchConditions.host_id" style="width: 200px">
                                <i-option value="">Anyone</i-option>
                                <i-option v-for="database in databases" :value="database.id">{{database.nick}}
                                </i-option>
                            </i-select>
                        </i-col>
                        <i-col span="24" style="margin: 10px auto">
                            <div class="conditionLabel">Type:</div>
                            <i-select v-model="searchConditions.type" style="width: 200px">
                                <i-option value="">Anyone</i-option>
                                <i-option v-for="type in types" :value="type.value">{{type.title}}</i-option>
                            </i-select>
                            <div class="conditionLabel">Status:</div>
                            <i-select v-model="searchConditions.status" style="width: 200px">
                                <i-option value="">Anyone</i-option>
                                <i-option v-for="status in issue_status_list" :value="status.value">{{status.title}}
                                </i-option>
                            </i-select>
                            <div class="conditionLabel"></div>
                            <i-button type="primary" @click="searchIssues">Search</i-button>
                        </i-col>
                    </Row>
                </div>
                <div style="margin: 10px auto">
                    <!--{{issues}}-->
                    <table class="dbreq_table">
                        <tr>
                            <th>Issue ID</th>
                            <th>Title</th>
                            <th>Type</th>
                            <th>Status</th>
                            <th>Database</th>
                            <th>Author</th>
                            <th>Update Time</th>
                        </tr>
                        <tr v-for="issue in issues" v-on:click="openIssue(issue.issue_id)" style="cursor: pointer;">
                            <td>{{issue.issue_id}}</td>
                            <td>{{issue.title}}</td>
                            <td>{{issue.type_desc}}</td>
                            <td :class="'status_'+issue.status">{{issue.status_desc}}</td>
                            <td>{{issue.database.host_nick}}</td>
                            <td>{{issue.author_realname}} ({{issue.author_username}})</td>
                            <td>{{issue.update_time}}</td>
                        </tr>
                    </table>
                </div>
                <div style="margin: 10px auto;text-align: right">
                    <Page :total="issue_count" :page-size="searchConditions.page_size"
                          :current="searchConditions.page_number"
                          show-sizer show-total show-elevator @on-change="searchIssues"></Page>
                </div>
            </Content>
            <Footer class="layout-footer-center">2018 &copy; Sinri Edogawa</Footer>
        </Layout>
    </div>
</div>
<script>
    let mainApp = new Vue({
        el: '#app',
        data: {
            databases: [],
            users: [],
            types: [
                {title: 'MODIFICATION', value: 0},//更新请求: 0
                {title: 'READ', value: 1},//导出请求: 1
                {title: 'STRUCTURE', value: 2}//结构请求: 2
            ],
            issue_status_list: [
                {title: 'PENDING', value: 0},// 待审核: 0
                {title: 'DENIED', value: 1},// 已拒绝: 1
                {title: 'QUEUED', value: 2},// 待执行: 2
                {title: 'DONE', value: 3},// 执行成功: 3
                {title: 'ERROR', value: 4},// 执行出错: 4
                {title: 'CANCEL', value: 5},// 已取消: 5
                {title: 'RUNNING', value: 6}// 执行中: 6
            ],
            issue_count: 0,
            searchConditions: {
                title: '',
                status: '',
                update_time: '',
                author_id: '',
                host_id: '',
                type: '',
                page_size: 10,
                page_number: 1
            },
            issues: [],
        },
        methods: {
            loadInfo: function () {
                dbreq.api.call('Database/apiDatabaseList/request', {},
                    (data) => {
                        this.databases = data.list;
                    },
                    (error, status_code) => {
                        this.databases = [];
                    }
                );
                dbreq.api.call('Security/apiUserList', {},
                    (data) => {
                        this.users = data.list;
                    },
                    (error, status_code) => {
                        this.users = [];
                    }
                );
            },
            searchIssues: function () {
                let conditions = JSON.parse(JSON.stringify(this.searchConditions));
                dbreq.api.call('Request/apiRequestList', conditions,
                    (data) => {
                        this.issues = data.list;
                        this.issue_count = data.total;
                    },
                    (error, status_code) => {
                        this.issues = [];
                        this.issue_count = 0;
                    }
                );
            },
            openIssue: function (issue_id) {
                window.location.href = "issue.html?issue_id=" + issue_id;
            }
        },
        mounted: function () {
            this.loadInfo();
            this.searchIssues();
        }
    })
</script>
</body>
</html>