<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Issue - DBREQ</title>

    <script src="static/sdk/js.cookie.min.js"></script>
    <script src="static/sdk/axios.min.js"></script>
    <script src="static/sdk/vue.min.js"></script>
    <link rel="stylesheet" href="static/sdk/iview.css">
    <script src="static/sdk/iview.min.js"></script>

    <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <link rel="stylesheet" href="static/css/framework.css">
    <script src="static/js/dbreq-header.js"></script>
    <script src="static/js/dbreq.js"></script>

    <style>
        .info_line {
            margin: 5px auto;
            font-size: 14px;
        }
    </style>
</head>
<body>
<div id="app">
    <i-col class="layout">
        <Layout>
            <dbreq-header></dbreq-header>
            <Content :style="{margin: '88px 20px 0', background: '#fff', minHeight: '500px',padding:'5px'}">
                <template v-if="issue_id>0">
                    <h1> # Issue {{issue_id}} | {{issue.title}}</h1>
                    <Row style="margin: 10px auto" v-if="!show_editor">
                        <i-col span="6" class="info_line">
                            Type: {{issue.type_desc}}
                        </i-col>
                        <i-col span="6" class="info_line">
                            Database: {{issue.database.host_nick}}
                        </i-col>
                        <i-col span="6" class="info_line">
                            Applied by {{issue.author_realname}} ({{issue.author_username}})
                        </i-col>
                        <i-col span="6" class="info_line">
                            Updated on {{issue.update_time}}
                        </i-col>
                        <i-col span="12" class="info_line">
                            Type: {{issue.status_desc}}
                        </i-col>
                        <i-col span="6" class="info_line">
                            <template v-if="issue.checker_id>0">
                                Approved by {{issue.checker_realname}} ({{issue.checker_username}})
                            </template>
                            <template v-else>
                                Not approved yet
                            </template>
                        </i-col>
                        <i-col span="6" class="info_line">
                            <template v-if="issue.execute_time!=0">
                                Executed on {{issue.execute_time}}
                            </template>
                            <template v-else>Not executed yet</template>
                        </i-col>
                        <i-col span="24" class="info_line">
                            Description: {{issue.description}}
                        </i-col>
                        <i-col span="24" class="info_line" style="border-left: 2px solid lightpink;padding-left: 5px">
                            <pre><code>{{issue.query}}</code></pre>
                        </i-col>
                        <i-col span="24" class="info_line" style="text-align: right">
                            <i-button type="success" @click="approveIssue" v-if="issue.can_deal" :loading="is_loading">
                                Approve
                            </i-button>
                            <i-button type="error" @click="denyIssue" v-if="issue.can_deal" :loading="is_loading">Deny
                            </i-button>
                            <i-button type="default" @click="cancelIssue" v-if="issue.can_cancel" :loading="is_loading">
                                Cancel
                            </i-button>
                            <i-button type="info" @click="openEditor" v-if="issue.can_edit" :loading="is_loading">Edit
                            </i-button>
                        </i-col>
                    </Row>
                    <div style="margin: 10px auto" v-if="show_editor">
                        <i-form label-width="100">
                            <form-item>
                                <h2>Edit and submit again.</h2>
                            </form-item>
                            <form-item label="Title">
                                <i-input type="text" v-model="draft.title" style="width: 400px"
                                         placeholder="Name it."></i-input>
                            </form-item>
                            <form-item label="Database">
                                <i-select v-model="draft.host_id" style="width: 200px">
                                    <i-option v-for="database in databases" :value="database.id">{{database.nick}}
                                    </i-option>
                                </i-select>
                            </form-item>
                            <form-item label="Type">
                                <i-select v-model="draft.type" style="width: 200px">
                                    <i-option v-for="type in types" :value="type.value">{{type.title}}</i-option>
                                </i-select>
                            </form-item>
                            <form-item label="Description">
                                <i-input type="textarea" v-model="draft.description" rows="3" style="width: 80%"
                                         placeholder="Why you make this draft?"></i-input>
                            </form-item>
                            <form-item label="Query">
                                <i-input type="textarea" v-model="draft.query" rows="5" style="width: 80%"
                                         placeholder="Write SQL here."></i-input>
                            </form-item>
                            <form-item>
                                <i-button type="primary" @click="updateIssue" :loading="is_loading">Submit</i-button>
                                <i-button type="ghost" @click="exitEditor">Leave</i-button>
                            </form-item>
                            <form-item v-if="message!=''">
                                <Alert type="error" style="color: red">{{message}}</Alert>
                            </form-item>
                        </i-form>
                    </div>
                    <Row style="margin: 10px auto">
                        <i-col span="18">
                            {{issue.feedback}}
                        </i-col>
                        <i-col span="6" style="text-align: right">
                            <i-button type="ghost" v-if="issue.has_attachment" @click="downloadAttachment">Download
                                Attachment
                            </i-button>
                        </i-col>
                    </Row>
                    <div style="margin: 10px auto" v-if="previewAttachmentContent.length">
                        <h1>Preview Attachment
                            <small>(up to 10 lines)</small>
                        </h1>
                        <table class="dbreq_table">
                            <tr v-for="(line,line_index) in previewAttachmentContent">
                                <template v-if="line_index==0">
                                    <th v-for="cell in line">{{cell}}</th>
                                </template>
                                <template v-else>
                                    <td v-for="cell in line">{{cell}}</td>
                                </template>
                            </tr>
                        </table>
                    </div>
                </template>
                <template v-else>
                    <Alert type="error">No Issue Give</Alert>
                </template>
            </Content>
            <Footer class="layout-footer-center">2018 &copy; Sinri Edogawa</Footer>
        </Layout>
    </div>
</div>
<script>
    let mainApp = new Vue({
        el: '#app',
        data: {
            databases: [],
            types: [
                {title: 'MODIFICATION', value: 0},//更新请求: 0
                {title: 'READ', value: 1},//导出请求: 1
                {title: 'STRUCTURE', value: 2}//结构请求: 2
            ],
            issue_id: 0,
            issue: {
                "issue_id": 0,
                "title": "x",
                "type": -2,
                "type_desc": "",
                "status": -1,
                "status_desc": "",
                "database": {
                    "host_id": 0,
                    "host_nick": "",
                    "is_readonly": ""
                },
                "author_id": 0,
                "author_username": "",
                "author_realname": "",
                "update_time": "",
                "query": "",
                "description": "",
                "create_time": "",
                "execute_time": "",
                "checker_id": 0,
                "checker_username": "",
                "checker_realname": "",
                "can_deal": false,
                can_edit: false,
                can_cancel: false
            },
            draft: {
                issue_id: 0,
                title: '',
                host_id: '',
                type: '',
                description: '',
                query: ''
            },
            message: '',
            show_editor: false,
            is_loading: false,
            previewAttachmentContent: []
        },
        methods: {
            loadInfo: function () {
                dbreq.api.call('Database/apiDatabaseList/request', {},
                    (data) => {
                        this.databases = data.list;
                    },
                    (error, status_code) => {
                        this.databases = [];
                    }
                );
            },
            loadIssue: function () {
                // let x = location.href.split("#");
                // if (x.length > 1) {
                //     this.issue_id = parseInt(x[1], 10);
                // } else {
                //     this.issue_id = 0;
                // }
                this.issue_id = dbreq.page.getParameterByName('issue_id', 0);
                if (this.issue_id > 0) {
                    // loading detail
                    dbreq.api.call('Request/apiRequestDetail/' + this.issue_id, {},
                        (data) => {
                            this.issue = data.issue;
                            this.draft = {
                                issue_id: data.issue.issue_id,
                                title: data.issue.title,
                                host_id: data.issue.database.host_id,
                                type: data.issue.type,
                                description: data.issue.description,
                                query: data.issue.query,
                            };
                            if (this.issue.has_attachment) {
                                this.previewAttachment();
                            }
                        },
                        (error, status_code) => {
                            this.issue = null;
                        }
                    );
                }
            },
            openEditor: function () {
                this.show_editor = true;
            },
            exitEditor: function () {
                this.show_editor = false;
            },
            updateIssue: function () {
                this.is_loading = true;
                let data = JSON.parse(JSON.stringify(this.draft));
                dbreq.api.call('Request/apiRequestUpdate', data,
                    (data) => {
                        this.$Message.success({
                            content: 'Issue Updated',
                            duration: 2,
                            onClose: () => {
                                // this.is_loading=false;
                                window.location.reload();
                            }
                        });
                    },
                    (error, status_code) => {
                        this.$Message.error({
                            content: 'Update Issue Failed! ' + error
                        });
                        this.is_loading = false;
                    }
                );
            },
            approveIssue: function () {
                this.is_loading = true;
                dbreq.api.call('Request/apiRequestApprove',
                    {issue_id: this.issue.issue_id},
                    (data) => {
                        this.$Message.success({
                            content: 'Issue Approved',
                            duration: 2,
                            onClose: () => {
                                // this.is_loading=false;
                                window.location.reload();
                            }
                        });
                    },
                    (error, status_code) => {
                        this.$Message.error({
                            content: 'Approve Issue Failed! ' + error
                        });
                        this.is_loading = false;
                    }
                );
            },
            denyIssue: function () {
                this.is_loading = true;
                dbreq.api.call('Request/apiRequestDeny',
                    {issue_id: this.issue.issue_id},
                    (data) => {
                        this.$Message.success({
                            content: 'Issue Denied',
                            duration: 2,
                            onClose: () => {
                                // this.is_loading=false;
                                window.location.reload();
                            }
                        });
                    },
                    (error, status_code) => {
                        this.$Message.error({
                            content: 'Deny Issue Failed! ' + error
                        });
                        this.is_loading = false;
                    }
                );
            },
            cancelIssue: function () {
                this.is_loading = true;
                dbreq.api.call('Request/apiRequestCancel',
                    {issue_id: this.issue.issue_id},
                    (data) => {
                        this.$Message.success({
                            content: 'Issue Cancelled',
                            duration: 2,
                            onClose: () => {
                                // this.is_loading=false;
                                window.location.reload();
                            }
                        });
                    },
                    (error, status_code) => {
                        this.$Message.error({
                            content: 'Cancel Issue Failed! ' + error
                        });
                        this.is_loading = false;
                    }
                );
            },
            downloadAttachment: function () {
                let url = dbreq.api.apiBaseUrl + "Request/apiDownloadRequestAttachment?issue_id=" + this.issue.issue_id + "&token=" + dbreq.security.getToken();
                window.open(url);
            },
            previewAttachment: function () {
                dbreq.api.call('Request/apiPreviewRequestAttachment', {issue_id: this.issue.issue_id},
                    (data) => {
                        this.previewAttachmentContent = data.csv;
                    },
                    (error, status_code) => {
                        this.previewAttachmentContent = [];
                    }
                );
            }
        },
        mounted: function () {
            this.loadInfo();
            this.loadIssue();
        }
    })
</script>
</body>
</html>