<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DBREQ</title>

    <script src="static/sdk/js.cookie.min.js"></script>
    <script src="static/sdk/axios.min.js"></script>
    <script src="static/sdk/vue.min.js"></script>
    <link rel="stylesheet" href="static/sdk/iview.css">
    <script src="static/sdk/iview.min.js"></script>

    <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <link rel="stylesheet" href="static/css/framework.css">
    <script src="static/js/dbreq-header.js"></script>
    <script src="static/js/dbreq.js"></script>
</head>
<body>
<div id="app">
    <div class="layout">
        <Layout>
            <dbreq-header></dbreq-header>
            <Content :style="{margin: '88px 20px 0', background: '#fff', minHeight: '500px',padding:'5px'}">
                <h1>Permission of Users</h1>
                <Row style="margin: 10px auto;">
                    <i-col span="10">
                        <p>Load the current permission matrix and edit them.</p>
                    </i-col>
                    <i-col span="4">&nbsp;</i-col>
                    <i-col span="10" style="text-align: right">
                        <i-button type="info" @click="loadMatrix">Reload</i-button>
                        <i-button type="primary" @click="submitMatrix">Submit</i-button>
                    </i-col>
                </Row>
                <div>
                    <table class="dbreq_table">
                        <tr>
                            <th>USER</th>
                            <th v-for="database in databases">
                                {{database.nick}}
                            </th>
                        </tr>
                        <tr v-for="(userRow,userKey) in matrix">
                            <td>#{{userRow.user.user_id}} - {{userRow.user.real_name}} - {{userRow.user.user_name}}</td>
                            <td v-for="(databaseCell,databaseKey) in userRow.details">
                                <template v-if="databaseCell.permission.admin">
                                    ADMIN
                                </template>
                                <template v-else>
                                    <div>
                                        <Checkbox v-model="matrix[userKey].details[databaseKey].permission.query">
                                            QUERY
                                        </Checkbox>
                                        <Checkbox v-model="matrix[userKey].details[databaseKey].permission.select">
                                            SELECT
                                        </Checkbox>
                                        <Checkbox v-model="matrix[userKey].details[databaseKey].permission.update">
                                            UPDATE
                                        </Checkbox>
                                        <Checkbox v-model="matrix[userKey].details[databaseKey].permission.structure">
                                            STRUCTURE
                                        </Checkbox>
                                    </div>
                                </template>
                            </td>
                        </tr>
                    </table>
                </div>
            </Content>
            <Footer class="layout-footer-center">2018 &copy; Sinri Edogawa</Footer>
        </Layout>
    </div>
</div>
<script>
    let mainApp = new Vue({
        el: '#app',
        data: {
            databases: {},
            matrix: {},

        },
        methods: {
            loadMatrix: function () {
                dbreq.api.call('Permission/apiPermissionMatrix', {},
                    (data) => {
                        this.databases = data.databases;
                        this.matrix = data.matrix;
                    },
                    (error, status_code) => {
                        this.databases = {};
                        this.matrix = [];
                    }
                );
            },
            submitMatrix: function () {
                let authTypeDict = {
                    query: -1,
                    update: 0,
                    select: 1,
                    structure: 2
                };
                /*
                const TYPE_QUERY = -1;//快速查询: -1
                const TYPE_UPDATE = 0;//更新请求: 0
                const TYPE_SELECT = 1;//导出请求: 1
                const TYPE_STRUCTURE = 2;//结构请求: 2
                 */
                let applications = [];
                for (let userIndex = 0; userIndex < this.matrix.length; userIndex++) {
                    let userRow = this.matrix[userIndex];
                    let user_id = userRow.user.user_id;
                    for (let hostIndex = 0; hostIndex < userRow.details.length; hostIndex++) {
                        let hostRow = userRow.details[hostIndex];
                        let host_id = hostRow.database.id;
                        let permission = hostRow.permission;

                        for (let authType in authTypeDict) {
                            if (!authTypeDict.hasOwnProperty(authType)) continue;
                            if (permission[authType]) {
                                applications.push({
                                    user_id: user_id,
                                    host_id: host_id,
                                    auth_type: authTypeDict[authType]
                                })
                            }
                        }
                    }
                }
                dbreq.api.call('Permission/apiUpdatePermissionMatrix', {applications: applications},
                    (data) => {
                        this.loadMatrix();
                    },
                    (error, status_code) => {
                        this.$Notice.error({
                            title: 'API Error',
                            desc: "Operation failed duo to error: " + error,
                        });
                    }
                );
            }
        },
        mounted: function () {
            this.loadMatrix();
        }
    })
</script>
</body>
</html>