<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Query - DBREQ</title>

    <script src="static/sdk/js.cookie.min.js"></script>
    <script src="static/sdk/axios.min.js"></script>
    <script src="static/sdk/vue.min.js"></script>
    <link rel="stylesheet" href="static/sdk/iview.css">
    <script src="static/sdk/iview.min.js"></script>

    <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <link rel="stylesheet" href="static/css/framework.css">
    <script src="static/js/dbreq-header.js"></script>
    <script src="static/js/dbreq.js"></script>
</head>
<body>
<div id="app">
    <div class="layout">
        <Layout>
            <dbreq-header></dbreq-header>
            <Content :style="{margin: '88px 20px 0', background: '#fff', minHeight: '500px',padding:'5px'}">
                <h1>Quick Query</h1>
                <Row style="margin: 10px auto">
                    <i-col span="12">
                        <i-select v-model="selectedDatabaseId" style="width: 300px">
                            <i-option v-for="database in databases" :value="database.id" :key="database.id">
                                {{database.nick}}
                            </i-option>
                        </i-select>
                    </i-col>
                    <i-col span="12" style="text-align: right">
                        <template v-if="is_loading">
                            <Spin></Spin>
                        </template>
                        <template v-else>
                            <i-button type="primary" @click="runQuery">Query</i-button>
                        </template>
                    </i-col>
                </Row>
                <div style="margin: 10px auto">
                    <i-input type="textarea" v-model="sql"></i-input>
                </div>
                <div style="margin: 10px auto">
                    <Alert :type="messageType">{{message}}</Alert>
                </div>
                <div style="margin: 10px auto;width: 100%;overflow: auto;">
                    <table class="dbreq_table" style="width: auto">
                        <tr>
                            <th v-for="field in result.fields">
                                {{field}}
                            </th>
                        </tr>
                        <tr v-for="row in result.content">
                            <td v-for="cell in row">
                                <template v-if="cell===null">
                                    <span style="color: red">NULL</span>
                                </template>
                                <template v-else>
                                    <pre style="text-decoration:underline;text-underline: #57c5f7">{{cell}}</pre>
                                </template>
                            </td>
                        </tr>
                    </table>
                </div>
            </Content>
            <Footer class="layout-footer-center">2018 &copy; Sinri Edogawa</Footer>
        </Layout>
    </div>
</div>
<script>
    let mainApp = new Vue({
        el: '#app',
        data: {
            databases: [],
            selectedDatabaseId: -1,
            sql: '',
            is_loading: false,
            //result:[],
            result: {
                fields: [],
                content: [],
            },
            messageType: 'info',
            message: 'Ready.'
        },
        methods: {
            loadDatabases: function () {
                dbreq.api.call('Query/apiAvailableDatabases', {},
                    (data) => {
                        this.databases = data.list;
                    },
                    (error, status_code) => {
                        this.databases = [];
                    }
                );
            },
            runQuery: function () {
                this.is_loading = true;
                dbreq.api.call('Query/apiRunQuery', {sql: this.sql, db_id: this.selectedDatabaseId},
                    (data) => {
                        this.result = {
                            fields: data.fields,
                            content: data.content
                        };
                        this.messageType = 'info';
                        this.message = 'SQL executed with ' + data.debug.duration + " seconds";
                        this.is_loading = false;
                    },
                    (error, status_code) => {
                        this.result = {fields: [], content: []};
                        this.messageType = 'error';
                        this.message = error.error;
                        this.is_loading = false;
                    }
                );
            }
        },
        mounted: function () {
            this.loadDatabases();
        }
    })
</script>
</body>
</html>