<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users - DBREQ</title>

    <script src="static/sdk/js.cookie.min.js"></script>
    <script src="static/sdk/axios.min.js"></script>
    <script src="static/sdk/vue.min.js"></script>
    <link rel="stylesheet" href="static/sdk/iview.css">
    <script src="static/sdk/iview.min.js"></script>

    <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <link rel="stylesheet" href="static/css/framework.css">
    <script src="static/js/dbreq-header.js"></script>
    <script src="static/js/dbreq.js"></script>
</head>
<body>
<div id="app">
    <div class="layout">
        <Layout>
            <dbreq-header></dbreq-header>
            <Content :style="{margin: '88px 20px 0', background: '#fff', minHeight: '500px',padding:'5px'}">
                <h1>Manage Users</h1>
                <Row style="margin: 10px auto;">
                    <i-col span="10">
                        <p>Here list the existed users.</p>
                    </i-col>
                    <i-col span="4">&nbsp;</i-col>
                    <i-col span="10" style="text-align: right">
                        <i-button type="primary" shape="circle" icon="person-add"
                                  @click="onCreateUserButton"></i-button>
                    </i-col>
                </Row>
                <div>
                    <table class="dbreq_table">
                        <tr>
                            <th>User ID</th>
                            <th>User Name</th>
                            <th>Display Name</th>
                            <th>Is Admin</th>
                            <th>Action</th>
                        </tr>
                        <tr v-for="user in users">
                            <td>{{user.user_id}}</td>
                            <td>{{user.user_name}}</td>
                            <td>{{user.real_name}}</td>
                            <td>{{user.is_admin}}</td>
                            <td>
                                <i-button type="primary" @click="onEditUserButton(user)">Edit</i-button>
                            </td>
                        </tr>
                    </table>
                </div>
            </Content>
            <Footer class="layout-footer-center">2018 &copy; Sinri Edogawa</Footer>
        </Layout>
    </div>
    <Modal :title="edit_modal.title"
           v-model="edit_modal.visible"
           :loading="edit_modal.loading"
           :mask-closable="false"
           @on-ok="on_edit_modal_ok">
        <i-form>
            <form-item label="User ID" :label-width="120" v-if="draft.user_id!=0">
                {{draft.user_id}}
            </form-item>
            <form-item label="Username" :label-width="120">
                <i-input type="text" v-model="draft.user_name"></i-input>
            </form-item>
            <form-item label="Display Name" :label-width="120">
                <i-input type="text" v-model="draft.real_name"></i-input>
            </form-item>
            <form-item label="Password" :label-width="120">
                <i-input type="text" v-model="draft.password" placeholder="Leave it empty if not change"></i-input>
            </form-item>
            <form-item label="As Admin" :label-width="120">
                <i-switch v-model="draft.is_admin"></i-switch>
            </form-item>
        </i-form>
    </Modal>
</div>
<script>
    let mainApp = new Vue({
        el: '#app',
        data: {
            users: [],
            edit_modal: {
                title: '...',
                visible: false,
                loading: true,
            },
            draft: {
                user_id: 0,
                user_name: '',
                real_name: '',
                password: '',
                is_admin: '',
            }
        },
        methods: {
            loadUsers: function () {
                dbreq.api.call('Security/apiUserList', {},
                    (data) => {
                        this.users = data.list;
                    },
                    (error, status_code) => {
                        this.users = [];
                    }
                );
            },
            onCreateUserButton: function () {
                this.draft = {
                    user_id: 0,
                    user_name: '',
                    real_name: '',
                    password: '',
                    is_admin: false,
                };
                this.edit_modal = {
                    title: 'Create New User',
                    visible: true,
                    loading: true
                }
            },
            onEditUserButton: function (user) {
                console.log('onEditUserButton', user);
                this.draft = {
                    user_id: user.user_id,
                    user_name: user.user_name,
                    real_name: user.real_name,
                    password: user.password,
                    is_admin: user.is_admin > 0,
                };
                this.edit_modal = {
                    title: 'Edit User ' + user.user_name,
                    visible: true,
                    loading: true
                };
            },
            on_edit_modal_ok: function () {
                let data = JSON.parse(JSON.stringify(this.draft));
                dbreq.api.call('Security/apiUpdateUser', data,
                    (data) => {
                        this.edit_modal = {
                            title: '...',
                            visible: false,
                            loading: true
                        };
                        this.loadUsers();
                    },
                    (error, status_code) => {
                        this.$Notice.error({
                            title: 'API Error',
                            desc: "Operation failed duo to error: " + error,
                        });
                        this.edit_modal.loading = false;
                        this.$nextTick((e) => {
                            this.edit_modal.loading = true;
                        })
                    }
                );
            }
        },
        mounted: function () {
            this.loadUsers();
        }
    })
</script>
</body>
</html>